<div class="search-form mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>